body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
#contact_modal {
    display: none;
    position: absolute;
    top: 94px;
    left: 0%;
    width: -webkit-fill-available;
}

aside{
    display: flex;
    justify-content: space-around;
    background-color: #D3573C;
    height: 60px;
    width: 24%;
    bottom: 0px;
    left: 73%;
    border-radius: 5px 5px 0px 0px;
    position: fixed;
}
.asideCard_content{
    display: flex;
    align-items: center;
}
aside p {
    font-size: larger;
    margin: 0;
    line-height: 3;
    padding-right: 5px;
}
.photograph-headerContent {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 50px;
    margin-left: 100px;
}
.titlePhotographe{
    color: #D3573C;
    font-size: xxx-large;
    margin-bottom: 0px;
    margin-right: 0px;
}
.photographer_photo{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    object-fit: cover;
}
.countryPhotographer{
    color: #901C1C;
    font-size: large;
}
.photograph_tagline{
    color: #525252;
}
.tri{
    font-weight: bold;
    margin-left: 100px;
}
.photograph_filtre{
    display: flex;
    flex-direction: row;
}
#list_tri{
    margin-left: 15px;
    border-radius: 5px;
    background-color: #901C1C;
    color: #FFFF;
    width: 150px;
    font-size: larger;
    height: 55px;
    padding-left: 11px;
    appearance: none;
}
.arrowDown{
    color: white;
    position: absolute;
    left: 300px;
    top: 409px;
}
.arrowDownn{
    opacity: 0;
}

.arrowUp{
    color: white;
    position: absolute;
    left: 300px;
    top: 409px;
    opacity: 0;
}
.arrowUpp{
    color: white;
    position: absolute;
    left: 300px;
    top: 409px;
    opacity: 1;
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 25px;
}
.namePhotographe{
    font-size: xxx-large;
    margin-top: 0;
    margin-left: 4px;
}
.envoyer{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 40px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 35px;
}
#textArea{
    width: 100%;
}
.heartIcon{
    cursor: pointer;
}

.photograph_media{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 100px;
    margin-top: 5%;
}
#lightBox{
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #ffffff;
    z-index: 10;
}
.lightBox_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
    margin: auto;
}
.mediaName{
    color: #901C1C;
    width: 100%;
}
.lightbox_next,
.lightbox_prev{
    color: #901C1C;
    position: fixed;
    top: 50%;
    z-index: 11;
    cursor: pointer;
}
.lightbox_prev{
    right: auto;
    left: 20px;
}
.lightbox_next{
    left: auto;
    right: 20px;
}

.lightbox_close{
    color: #901C1C;
    position: fixed;
    top: 50px;
    right: 20px;
    cursor: pointer;
}
.lightBox_media{
    width: 100%;
    height: 90%;
    object-fit: scale-down;
}

.photographerMedia{
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}
.blocMediaInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
    font-size: larger;
}

.blocMedia--likes{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}


.blocMediaVideo--info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
    font-size: larger;
}


video{
    width: 100%;
    /* height: 90%; */
    /* object-fit: cover; */
    cursor: pointer;
    /* margin: auto; */
}
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: absolute;
    top: -88px;
    left: 20%;
    padding-bottom: 6px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    flex-direction: inherit;
    margin-bottom: 35px;
    align-items: baseline;
    margin-top: -35px;
}

.modal header img {
    cursor: pointer;
    position: absolute;
    right: 37px;
    top: 22px;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    margin: 0;
}
.modal header h3{
    margin: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 35px;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
}