body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
#contact_modal {
    display: none;
    position: absolute;
    top: 94px;
    left: 0%;
    width: -webkit-fill-available;
}

aside{
    display: flex;
    justify-content: space-around;
    background-color: #D3573C;
    height: 60px;
    position: sticky;
    width: 24%;
    bottom: 0px;
    left: 73%;
    border-radius: 5px 5px 0px 0px;
}
.asideCard_content{
    display: flex;
    align-items: center;
}
aside p {
    font-size: larger;
    margin: 0;
    line-height: 3;
}
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 50px;
    margin-left: 100px;
}
.titlePhotographe{
    color: #D3573C;
}
.photographer_photo{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
.photograph_tagline{
    color: #525252;
}
.tri{
    font-weight: bold;
    margin-left: 100px;
}

.selectTri{
    font-size: large;
    background-color: #901C1C;
    color: white;
    width: 165px;
    /* height: 70px; */
    height: auto;
    border-radius: 5px;
    margin-left: 15px;
    padding-left: 5px;
}
.photographer_filtrer{
    display: flex;
    flex-direction: row;
}
.btnTri{
    border: 0;
    background-color: #901C1C;
    color: white;
    font-size: inherit;
    margin-top: 16px;
    padding-left: 0px;
}
.chevronTri{
    margin-left: 40px;
}
.allOption{
    display: block;
    height: 95px;
}
hr{
    width: 90%;
    border: 1px solid transparent;
    background-color: white;
    height: 0px;
    margin-left: 0;
    margin-right: 0;
}
.option{
    display: none;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.envoyer{
    margin-top: 25px;
}
#textArea{
    width: 100%;
}
.heartIcon{
    cursor: pointer;
}

.photographer_media{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 100px;
    margin-top: 5%;
}
.lightBox{
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #4c4b4bb0;
    z-index: 10;
    /* overflow: scroll; */
}
/* .lightBoxOuverte{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #4c4b4bb0;
    z-index: 10;
    overflow: scroll;
} */
.lightBox_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.lightbox_next,
.lightbox_prev{
    color: #901C1C;
    position: fixed;
    top: 50%;
    z-index: 11;
    cursor: pointer;
}
.lightbox_prev{
    right: auto;
    left: 20px;
}
.lightbox_next{
    left: auto;
    right: 20px;
}

.lightbox_close{
    color: #901C1C;
    position: fixed;
    top: 50px;
    right: 20px;
    cursor: pointer;
}
.lightBox_media{
    /* width: 55%; */
    width: 44%;
    height: 100%;
    object-fit: cover;
}

.photographerMedia_image{
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}
.blocMediaImg--info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
    font-size: larger;
}

.blocMedia--likes{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}


.blocMediaVideo--info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
    font-size: larger;
}


video{
    width: 350px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: absolute;
    top: -60px;
    left: 20%;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
}